<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Next Adventure</title>
</head>
<body>
    <header>
        <img src="/src/client/images/next-adventure-logo.png" width="200">
        <div class="login-signup-buttons">
        <button class="log-in" onclick="window.location.href='my-trips.html';">Log in</button>
        <button class="sign-up" onclick="window.location.href='my-trips.html';">Sign Up</button>
        </div>
    </header>
    <section class="main">
        <img src="/src/client/images/Landing-page-image.png" width="100%">
    </section>
    
</body>
</html>